RewriteEngine On
RewriteRule ^sitemap\.xml/?$ sitemap.php
RewriteRule ^control?$ actions.php
RewriteRule ^notforyou?$ blockedpage.php
RewriteRule ^site/([^/\.]+)/([^/\.]+)?$ userwebsite.php?id=$1&title=$2
RewriteRule ^grabmore?$ getmorewebsite.php
RewriteRule ^search?$ usersearch.php
RewriteRule ^grabsearch?$ grab_more_search.php


