RewriteEngine On

#RewriteRule ^page/([^/\.]+)?$ adminpages.php?page_slug=$1

RewriteRule ^makefeatured?$ item_featured.php
RewriteRule ^nonfeaturedlist?$ fetch_nonfeatured_items.php
RewriteRule ^featuredlist?$ fetch_featured_items.php
RewriteRule ^activeitems?$ item_active.php
RewriteRule ^activelist?$ fetch_active_items.php
RewriteRule ^disableditems?$ item_disabled.php
RewriteRule ^disabledlist?$ fetch_disabled_items.php
RewriteRule ^pauseditems?$ item_paused.php
RewriteRule ^pausedlist?$ fetch_paused_items.php
RewriteRule ^sendpayout?$ payout_send.php
RewriteRule ^paidpayout?$ payout_paid.php
RewriteRule ^payoutlist?$ fetch_send_payoutlist.php
RewriteRule ^paidlist?$ fetch_send_paidlist.php
RewriteRule ^itempayments?$ payment_item.php
RewriteRule ^itempaylist?$ fetch_item_payments.php
RewriteRule ^walletpayments?$ payment_wallet.php
RewriteRule ^walletpaylist?$ fetch_wallet_payments.php
RewriteRule ^mainsetting?$ adminSetting.php
RewriteRule ^socialsetting?$ setting_social.php
RewriteRule ^googleanalytics?$ ganalytics.php
RewriteRule ^createpage?$ page_create.php
RewriteRule ^managepage?$ page_manage.php
RewriteRule ^pagelist?$ fetchPages.php
RewriteRule ^verify?$ verify_adminlogin.php
RewriteRule ^signout?$ logout.php
RewriteRule ^dashboard?$ dashboard_backend.php
RewriteRule ^category?$ create_category.php
RewriteRule ^viewcategory?$ view_category.php
RewriteRule ^categorylist?$ fetch_category.php
RewriteRule ^inreview?$ view_reviewlist.php
RewriteRule ^reviewlist?$ fetch_reviewlist.php
RewriteRule ^softrejectreview?$ view_softreject_reviewlist.php
RewriteRule ^softreviewlist?$ fetch_softreject_reviewlist.php
RewriteRule ^tempreview/([^/\.]+)?$ review_temp_item.php?temp_id=$1
RewriteRule ^tempsoftreview/([^/\.]+)?$ review_temp_sr_item.php?temp_id=$1
RewriteRule ^pendingreview?$ view_pending_reviewlist.php
RewriteRule ^pendinglist?$ review_pending_item.php
RewriteRule ^pendingdisputes?$ view_pending_disputes.php
RewriteRule ^disputelist?$ view_pendingdispute_list.php
RewriteRule ^solveddisputes?$ view_solved_disputes.php
RewriteRule ^solveddisputelist?$ view_solveddispute_list.php
RewriteRule ^tempdownload?$ download_temp_file.php
RewriteRule ^livedownload?$ download_live_file.php
RewriteRule ^titlehardrejects?$ title_hard_reject.php
RewriteRule ^hrtitle?$ fetch_hr_title.php
RewriteRule ^subjecthardrejects?$ subject_hard_reject.php
RewriteRule ^hrsubject?$ fetch_hr_reason.php
RewriteRule ^authorbadges?$ badges_author.php
RewriteRule ^followerbadges?$ badges_follower.php
RewriteRule ^communitybadges?$ badges_community.php
RewriteRule ^buyerbadges?$ badges_buyer.php
RewriteRule ^forumcategory?$ forum_category.php
RewriteRule ^forumcategorylist?$ fetch_forum_category.php
RewriteRule ^unreadtopic?$ forum_unreadtopic.php
RewriteRule ^seentopic?$ forum_seentopic.php
RewriteRule ^forumunreadtopiclist?$ fetch_forum_unread_topic.php
RewriteRule ^forumseentopiclist?$ fetch_forum_seen_topic.php
RewriteRule ^readtopic/([^/\.]+)?$ forum_read_topic.php?topic_id=$1
RewriteRule ^itemupdates?$ view_pending_itemupdates.php
RewriteRule ^updatelist?$ fetch_item_updatelist.php
RewriteRule ^updatereview/([^/\.]+)?$ review_update_item.php?item_id=$1
RewriteRule ^commentreport?$ report_comment.php
RewriteRule ^reportcommentlist?$ fetch_report_comments.php
RewriteRule ^replyreport?$ report_reply.php
RewriteRule ^reportreplylist?$ fetch_report_reply.php
RewriteRule ^ratingreport?$ report_rating.php
RewriteRule ^reportratinglist?$ fetch_report_ratings.php
RewriteRule ^monthlyanalysis/([^/\.]+)/([^/\.]+)?$ admin_statement.php?month=$1&year=$2
RewriteRule ^demomaintenance?$ web_down.php
RewriteRule ^password?$ change_password.php
RewriteRule ^email?$ change_email.php
RewriteRule ^recoveradminpassword?$ recover_admin_password.php
RewriteRule ^vaemail?$ verify_admin_email.php
RewriteRule ^vaotp?$ verify_admin_password_otp.php
RewriteRule ^capass?$ change_adminforgot_password.php
RewriteRule ^actusers?$ users_active.php
RewriteRule ^actuserlist?$ users_active_list.php
RewriteRule ^blkusers?$ users_blocked.php
RewriteRule ^blkuserlist?$ users_blocked_list.php