RewriteEngine On
RewriteRule ^sitemap\.xml/?$ sitemap.php
RewriteRule ^page/([^/\.]+)?$ adminpages.php?page_slug=$1
RewriteRule ^login?$ user_login.php
RewriteRule ^signup?$ user_signup.php
RewriteRule ^logout?$ user_logout.php
RewriteRule ^recoverpassword?$ user_recover_password.php
RewriteRule ^resend?$ resend_otp.php
RewriteRule ^otpauth?$ verify_registration_otp.php
RewriteRule ^verify?$ verify_userlogin.php
RewriteRule ^verification?$ verify_signup.php
RewriteRule ^vemail?$ verify_email.php
RewriteRule ^votp?$ verify_password_otp.php
RewriteRule ^cpass?$ change_forgot_password.php
RewriteRule ^maxpreview?$ file_max_preview_size.php
RewriteRule ^maxdemo?$ file_max_demo_video_size.php
RewriteRule ^maxmain?$ file_max_mainzip_size.php
RewriteRule ^refunds?$ user_pending_refunds.php
RewriteRule ^refundlist?$ user_pending_refund_list.php
RewriteRule ^wallet?$ user_add_credit.php
RewriteRule ^wlist?$ user_wallet_txn.php
RewriteRule ^checkwalletpay?$ check_wallet_payment.php
RewriteRule ^wpay?$ user_wallet_purchase.php
RewriteRule ^purchases?$ user_purchases.php
RewriteRule ^purchaselist?$ user_purchase_list.php
RewriteRule ^notifications?$ user_notifications.php
RewriteRule ^notify?$ get_user_notifications.php
RewriteRule ^notifytwo?$ get_user_notifications_two.php
RewriteRule ^notifythree?$ get_user_notifications_three.php
RewriteRule ^getnewnotification/([^/\.]+)?$ get_more_notification.php?id=$1
RewriteRule ^selectPayment?$ selectPay.php
RewriteRule ^pk?$ stripe_pk.php
RewriteRule ^stripewalletmessage?$ stripewalletpayment.php
RewriteRule ^stripemsg?$ stripepayment.php
RewriteRule ^paypalpay?$ paypalpayment.php
RewriteRule ^paypalerror?$ paypal_error.php
RewriteRule ^paypalsuccess?$ paypal_success.php
RewriteRule ^paypalverify?$ paypal_verification.php
RewriteRule ^statement/([^/\.]+)/([^/\.]+)?$ user_statement.php?month=$1&year=$2
RewriteRule ^payouts?$ user_payouts.php
RewriteRule ^upload?$ user_uploads.php
RewriteRule ^inreview?$ user_review.php
RewriteRule ^reviewlist?$ user_review_list.php
RewriteRule ^activeitems?$ user_active_items.php
RewriteRule ^activelist?$ user_active_list.php
RewriteRule ^pauseditems?$ user_paused_items.php
RewriteRule ^pausedlist?$ user_paused_list.php
RewriteRule ^deleteditems?$ user_deleted_items.php
RewriteRule ^deletedlist?$ user_deleted_list.php
RewriteRule ^itemupdatestaus?$ user_pending_updates.php
RewriteRule ^updatelist?$ user_pending_update_list.php
RewriteRule ^edititem/([^/\.]+)?$ user_edit_item.php?item_id=$1
RewriteRule ^forum?$ user_forums.php
RewriteRule ^createtopic?$ user_create_forum_topic.php
RewriteRule ^topic/([^/\.]+)/([^/\.]+)?$ user_forums_topic.php?topic_id=$1&topic_title=$2
RewriteRule ^moretopicreply/([^/\.]+)/([^/\.]+)?$ get_more_topic_reply.php?id=$1&topicId=$2
RewriteRule ^forumcategory/([^/\.]+)?$ getForumCategoryTopic.php?forum_cat_id=$1
RewriteRule ^moreforumcategorytopic/([^/\.]+)/([^/\.]+)?$ get_more_forumcategory_topic.php?id=$1&catId=$2
RewriteRule ^searched_topic?$ topic_search.php
RewriteRule ^searchtopic/([^/\.]+)?$ get_Topic_Search.php?search_topickeyword=$1
RewriteRule ^getsearchmoretopics/([^/\.]+)/([^/\.]+)?$ getMoreSearchedTopics.php?id=$1&searchWord=$2
RewriteRule ^settings?$ email_settings.php
RewriteRule ^controls?$ controllers.php
RewriteRule ^hardrejects?$ user_hard_rejects.php
RewriteRule ^hardrejectlist?$ user_hard_reject_list.php
RewriteRule ^pending?$ user_pending_items.php
RewriteRule ^pendinglist?$ user_pending_item_list.php
RewriteRule ^pendingupload/([^/\.]+)?$ user_pending_uploads.php?temp_id=$1
RewriteRule ^softrejects?$ user_soft_rejects.php
RewriteRule ^softrejectlist?$ user_soft_reject_list.php
RewriteRule ^softreject/([^/\.]+)?$ user_softreject_uploads.php?temp_id=$1
RewriteRule ^video/([^/\.]+)/([^/\.]+)?$ item_videos.php?item_id=$1&item_title=$2
RewriteRule ^comments/([^/\.]+)/([^/\.]+)?$ item_comments.php?item_id=$1&item_title=$2
RewriteRule ^ratings/([^/\.]+)/([^/\.]+)?$ item_ratings.php?item_id=$1&item_title=$2
RewriteRule ^new?$ item_new_videos.php
RewriteRule ^getnewitemlist/([^/\.]+)?$ getNewItems.php?id=$1
RewriteRule ^featured?$ item_featured_videos.php
RewriteRule ^getfeatureditemlist/([^/\.]+)?$ getFeaturedItems.php?id=$1
RewriteRule ^trending?$ item_trending_videos.php
RewriteRule ^gettrendingitemlist/([^/\.]+)?$ getTrendingItems.php?id=$1
RewriteRule ^bestsellers?$ item_bestseller_videos.php
RewriteRule ^getbestselleritemlist/([^/\.]+)?$ getBestSellerItems.php?id=$1
RewriteRule ^lowtohigh?$ item_lowtohigh_price_videos.php
RewriteRule ^getlowtohighitemlist/([^/\.]+)?$ getLowtoHighPriceItems.php?id=$1
RewriteRule ^hightolow?$ item_hightolow_price_videos.php
RewriteRule ^gethightolowitemlist/([^/\.]+)?$ getHightoLowPriceItems.php?id=$1
RewriteRule ^toprated?$ item_above_fourfive_star_videos.php
RewriteRule ^getfourfivestaritemlist/([^/\.]+)?$ getFourFiveStarItems.php?id=$1
RewriteRule ^abovefourstar?$ item_above_four_star_videos.php
RewriteRule ^getfourstaritemlist/([^/\.]+)?$ getFourStarItems.php?id=$1
RewriteRule ^abovethreestar?$ item_above_three_star_videos.php
RewriteRule ^getthreestaritemlist/([^/\.]+)?$ getThreeStarItems.php?id=$1
RewriteRule ^abovetwostar?$ item_above_two_star_videos.php
RewriteRule ^gettwostaritemlist/([^/\.]+)?$ getTwoStarItems.php?id=$1
RewriteRule ^aboveonestar?$ item_above_one_star_videos.php
RewriteRule ^getonestaritemlist/([^/\.]+)?$ getOneStarItems.php?id=$1
RewriteRule ^category/([^/\.]+)?$ getCategoryItems.php?cat_id=$1
RewriteRule ^getmorenewcategoryitems/([^/\.]+)/([^/\.]+)?$ getMoreCategoryItems.php?id=$1&catId=$2
RewriteRule ^getbestsellercategoryitems/([^/\.]+)/([^/\.]+)?$ getCategoryBestSellerItems.php?id=$1&catId=$2
RewriteRule ^getlowpricecategoryitems/([^/\.]+)/([^/\.]+)?$ getCategoryLowestPriceItems.php?id=$1&catId=$2
RewriteRule ^gethighpricecategoryitems/([^/\.]+)/([^/\.]+)?$ getCategoryHighestPriceItems.php?id=$1&catId=$2
RewriteRule ^gethighratingcategoryitems/([^/\.]+)/([^/\.]+)?$ getCategoryHighestRatingItems.php?id=$1&catId=$2
RewriteRule ^searched_item?$ item_search.php
RewriteRule ^search/([^/\.]+)?$ get_Item_Search.php?search_keyword=$1
RewriteRule ^getsearchmoreitems/([^/\.]+)/([^/\.]+)?$ getMoreSearchedItems.php?ID=$1&searchWord=$2
RewriteRule ^user/([^/\.]+)?$ get_user.php?username=$1
RewriteRule ^badgesinfo?$ user_badges_info.php
RewriteRule ^editprofile?$ user_profile_edit.php
RewriteRule ^followers/([^/\.]+)?$ get_user_followers.php?username=$1
RewriteRule ^morefollower/([^/\.]+)/([^/\.]+)?$ getUserMoreFollowers.php?id=$1&username=$2
RewriteRule ^following/([^/\.]+)?$ get_user_following.php?username=$1
RewriteRule ^morefollowing/([^/\.]+)/([^/\.]+)?$ getUserMoreFollowing.php?id=$1&username=$2
RewriteRule ^loves/([^/\.]+)?$ get_user_loved_items.php?username=$1
RewriteRule ^moreloves/([^/\.]+)/([^/\.]+)?$ getUserMoreLovedItems.php?id=$1&username=$2
RewriteRule ^uservideos/([^/\.]+)?$ get_user_videos.php?username=$1
RewriteRule ^morevideos/([^/\.]+)/([^/\.]+)?$ getUserMoreVideos.php?id=$1&username=$2
RewriteRule ^morebestsellervideos/([^/\.]+)/([^/\.]+)?$ getUserMoreBestSellerVideos.php?id=$1&username=$2
RewriteRule ^morelowestpricevideos/([^/\.]+)/([^/\.]+)?$ getUserMoreLowestPriceVideos.php?id=$1&username=$2
RewriteRule ^morehighestpricevideos/([^/\.]+)/([^/\.]+)?$ getUserMoreHighestPriceVideos.php?id=$1&username=$2
RewriteRule ^moretopratedvideos/([^/\.]+)/([^/\.]+)?$ getUserMoreTopRatedVideos.php?id=$1&username=$2
RewriteRule ^moreitemcomments/([^/\.]+)/([^/\.]+)?$ getMoreItemComments.php?id=$1&item_id=$2
RewriteRule ^moreitemratings/([^/\.]+)/([^/\.]+)?$ getMoreItemRatings.php?id=$1&item_id=$2
RewriteRule ^downloads?$ user_item_download.php
RewriteRule ^downloaditemlist?$ user_download_list.php
RewriteRule ^mainfiledownload?$ download_main_file.php
RewriteRule ^error?$ page_not_found.php
RewriteRule ^undermaintenance?$ site_down.php